.grid-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.edge-layer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.grid {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.grid-row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node {
  width: 40px;
  height: 40px;
  background-color: #3498db;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node-number {
  user-select: none;
}
